/* Typography */

:root{
    --theme-orange: #F07C27;
    --theme-white: #FFFFFF;
    --theme-black: #000000;
    --main-gradient-orange: linear-gradient(0deg, rgba(255,156,86,1) 0%, rgba(255,112,27,1) 100%);
    --heading-1-size: 6.5rem;
    --subheader-size: 3.5rem;
    --heading-2-size: 3rem;
    --heading-3-size: 2.5rem;
    --heading-4-size: 2rem;
    --heading-5-size: 1.8rem;
    --heading-6-size: 1rem;
    --btn-size: 1rem;
}

@-webkit-keyframes textZoom {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    85%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
    
@keyframes textZoom {
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    85%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes film-stripe {
    0%{
        background: rgb(247,238,229);
        background: radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(245,214,182,1) 100%);
    }
    20%{
        background: rgb(255,247,247);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(251,233,220,1) 100%);
    }
    40%{
        background: rgb(255,247,247);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
    }
    60%{
        background: rgb(242,241,241);
        background: radial-gradient(circle, rgba(242,241,241,1) 44%, rgba(226,226,226,1) 100%);
    }
    80%{
        background: rgb(255,247,247);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
    }
    100%{
        background: rgb(247,238,229);
        background: radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(172,164,156,1) 100%);
    }
}

@keyframes film-stripe {
    0%{
        background: rgb(247,238,229);
        background: -o-radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(245,214,182,1) 100%);
        background: radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(245,214,182,1) 100%);
    }
    20%{
        background: rgb(255,247,247);
        background: -o-radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(251,233,220,1) 100%);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(251,233,220,1) 100%);
    }
    40%{
        background: rgb(255,247,247);
        background: -o-radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
    }
    60%{
        background: rgb(242,241,241);
        background: -o-radial-gradient(circle, rgba(242,241,241,1) 44%, rgba(226,226,226,1) 100%);
        background: radial-gradient(circle, rgba(242,241,241,1) 44%, rgba(226,226,226,1) 100%);
    }
    80%{
        background: rgb(255,247,247);
        background: -o-radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
        background: radial-gradient(circle, rgba(255,247,247,1) 20%, rgba(181,176,173,1) 100%);
    }
    100%{
        background: rgb(247,238,229);
        background: -o-radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(172,164,156,1) 100%);
        background: radial-gradient(circle, rgba(247,238,229,1) 18%, rgba(172,164,156,1) 100%);
    }
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.eot');
    src: url('../fonts/Optima.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Optima.woff2') format('woff2'),
        url('../fonts/Optima.woff') format('woff'),
        url('../fonts/Optima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shockwave';
    src: url('../fonts/ShockwaveRegular.eot');
    src: url('../fonts/ShockwaveRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ShockwaveRegular.woff2') format('woff2'),
        url('../fonts/ShockwaveRegular.woff') format('woff'),
        url('../fonts/ShockwaveRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* style initilize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    position: relative;
    height: 100%;
    overflow: hidden;
}
h1,h2,h3,h4,h5{
    font-family: 'Shockwave';
    font-weight: normal;
}
h1{
    font-size: var(--heading-1-size);
}
h2{
    font-size: var(--heading-2-size);
}

h3{
    font-size: var(--heading-3-size);
}

h4{
    font-size: var(--heading-4-size);
}

h5{
    font-size: var(--heading-5-size);
}

h6{
    font-size: var(--heading-6-size);
}

.btn{
    border: 0;
    box-shadow: none;
    outline: none;
    padding: .5rem 2rem;
    cursor: pointer;
    font-family: 'Optima';
    font-size: var(--btn-size);
}
.rounded{
    border-radius: 100px;
}

.min-h-screen{
    min-height: 100vh;
}

.swiper-container,
.site-main {
    width: 100%;
    height: 100%;
  }

.content-wrapper{
    position: relative;
    width: 100%;
    padding-left: 10%;
}
.slide-bg{
    /* content: ""; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--theme-orange);
    background: var(--main-gradient-orange);
}

.right-path{
    position: absolute;
    right: -13%;
    height: 100%;
    width: 35%;
    /* z-index: -2; */
}

.right-path img{
    height: 100%;
    width: 100%;
}

.white-vector{
    position: absolute;
    left: -21%;
    right: -18%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.white-vector img{
    width: 100%;
}

.d-flex {
    display: flex;
}
.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.direction-column{
    flex-direction: column;
}

.spacer{
    flex-grow: 1;
}

.text-center{
    text-align: center;
}

.text-orange{
    color: var(--theme-orange);
}

.contents{
    position: relative;
    min-height: 100vh;
    z-index: 3;
}

.love-icon{
    display: none;
    text-align: center;
    margin-top: 0;
    position: relative;
    z-index: 10;
}

.camera-man{
    width: 23%;
    align-self: flex-end;
}

.camera-man img{
    width: 100%;
    display: block;
}

.animated-text{
    flex-grow: 1;
    opacity: 0;
}

.contents span{
    font-size: var(--subheader-size);
    font-family: 'Shockwave';
}

.second-slide-content{
    padding-top: 5rem;
    flex-direction: column;
    min-height: 100vh;
}

.content-text{
    flex-grow: 1;
    padding-bottom: 1.5rem;
}

.animate-on-show{
    flex-grow: 1;
}
.animate-on-show span{
    display: block;
}

.animate-on-show h2{
    opacity: 0;
}
.animate-on-show h2 span{
    font-size: var(--subheader-size);
}

.animate-on-show > span{
    color: #000000;
    font-size: 1.8rem;
    font-family: 'Optima';
    margin-top: 1rem;
    opacity: 0;
}

.building-vector{
    width: 140%;
    /* margin-left: -8%; */
    position: relative;
    left:16%;
}

.theater-white-vector,
/* .film-theater::after, */
/* .last-screen::before, */
.last-screen::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.theater-white-vector{
    background-image: url(../images/white-vector-horizontal-left.png);
    background-position: center right;
    background-color: var(--theme-black);
    width: 7rem;
    left: 0;
}
/* .film-theater::after{
    right: -20rem;
} */
/* .film-theater::after, */
.last-screen::after{
    width: 36rem;
    background-image: url(../images/white-vector-horizontal-right.png);
    background-position: center left;
    background-size: contain;
}
.last-screen::after{
    right: -28rem;
}

.film-theater{
    background-color: #000000;
}
.film-theater > div{
    flex-direction: column;
}

.movie-screen{
    flex-grow: 1;
    width: 50%;
    min-height: 250px;
    padding: 2.5rem 0 3.2rem;
    position: relative;
    opacity: 0;
}
.movie-screen::before,
.movie-screen::after{
    content: "";
    position: absolute;
    left: -2%;
    right: -1%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
.movie-screen::before{
    top: -6rem;
    height: 10rem;
    background-image: url(../images/film-stripe-light-vector-top.png);
}
.movie-screen::after{
    bottom: calc(-277px + 3.2rem);
    width: 140%;
    height: 277px;
    background-image: url(../images/film-stripe-light-vector-bottom.png);
    left: 44%;
    transform: translateX(-50%);
    background-position: top center;
}
.movie-frame{
    background: radial-gradient(circle at center, white, var(--theme-orange));
    animation: film-stripe .8s ease infinite;
    position: absolute;
    left: 50%;
    top: 2.5rem;
    bottom: 3.2rem;
    width: 82%;
    height: calc(100% - 5.7rem);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-frame video{
    position: absolute;
    left: 0;
    top: 2rem;
    bottom: 3rem;
    right: 0;
    width: 100%;
    height: calc(100% - 5rem);
}
.viewers-gallery{
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    overflow: hidden;
    /* justify-self: flex-end; */
}

.viewers-gallery img{
    max-width: 100%;
}

.last-screen{
    background-color: var(--theme-orange);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.left-white-vector{
    position: absolute;
    /* background-image: url(../images/white-vector-horizontal-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left -3rem center; */
    width: 42rem;
    top: 0;
    bottom: 0;
    left: -1rem;
}

.left-white-vector-img{
    width: 100%;
    background-image: url(../images/white-vector-horizontal-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.black-path,
.yellow-path{
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.black-path{
    left: 0%;
    background-color: var(--theme-black);
}
.yellow-path{
    right: 0;
    background-color: var(--theme-orange);
}

/* last screen style */
.last-screen{
    color: var(--theme-white);
    text-align: center;
}
.last-screen h4{
    font-family: 'Optima';
    font-weight: bold;
}

.last-screen > h4{
    max-width: 580px;
    overflow-wrap: break-word;
    hyphens: auto;
    /* -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0) */
}

.last-screen > h4,
.content-bottom > h4{
    animation: textZoom .5s;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    /* -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); */
}

.heart-wrap{
    max-width: 48%;
    /* height: 58vh; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    opacity: 0;
}

.heart-wrap img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.content-bottom{
    margin-top: 1.3rem;
}

.social-items{
    margin-top: 1.5rem;
    -webkit-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
}

.social-items a{
    margin-left: .25rem;
    margin-right: .25rem;
}

.btn-signup{
    margin-top: .7rem;
    background-color: var(--theme-black);
    color: var(--theme-white);
    -webkit-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
}

/* Modal style */
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.modal-inner{
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
}

.modal-content{
    width: 32rem;
    background-color: var(--theme-white);
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem 3rem;
    text-align: center;
}

.modal-content h4{
    color: var(--theme-orange);
}

.modal-content p{
    margin-top: 1.5rem;
    font-size: 1rem;
}

/* Forms tyle */
.field-wrap{
    margin-top: 2rem;
}

.field-wrap input{
    border: 1px solid #ededed;
    border-right: 0;
    height: 2.5rem;
    padding: .5rem 1rem;
    color: var(--theme-black);
    flex-grow: 1;
    border-radius: .25rem 0 0 .25rem;
}

.field-wrap input:focus{
    border-color: var(--theme-orange);
    box-shadow: none;
    outline: none;
}

.field-wrap input::placeholder{
    color: #e2e2e2;
}

.btn-submit{
    background: rgb(240,124,39);
    background: linear-gradient(90deg, rgba(240,124,39,1) 20%, rgba(247,139,60,1) 76%);
    color: var(--theme-white);
    text-transform: uppercase;
    border-radius: 0 .25rem .25rem 0;
}

.btn-modal-close{
    margin-top: 0.5rem;
    background: transparent;
    text-decoration: underline;
    font-size: .85rem;
}


@media screen and (min-width: 1367px) {
    .film-theater .spacer{display: none;}
}
@media screen and (max-width: 1366px) {
    :root{
        --heading-1-size: 4.3rem;
        --heading-2-size: 3rem;
        --subheader-size: 2.5rem;
        --heading-3-size: 2rem;
        --heading-4-size: 1.8rem;
        --heading-5-size: 1.5rem;
        --heading-6-size: 1em;
        --btn-size: 1em;
    }
    .content-wrapper{
        padding-left: 6%;
    }
    .camera-man{
        width: 30%;
    }
    .movie-screen{
        flex-grow: 2;
    }
}

@media screen and (max-width: 991px) {    
    :root{
        --heading-1-size: 3rem;
        --heading-2-size: 2.5rem;
        --subheader-size: 2rem;
        --heading-3-size: 2rem;
        --heading-4-size: 1.8rem;
        --main-gradient-orange: linear-gradient(90deg, rgba(255,156,86,1) 0%, rgba(255,112,27,1) 100%);
    }
    .content-wrapper{
        padding-left: 0;    
    }
    .love-icon{
        display: block;
    }
    .white-vector{
        top: 0;
        transform: translateY(0);
    }
    .right-path{
        left: 32%;
        transform: rotate(90deg);
        top: 54vh;
        height: 100vw;
    }
    .contents{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 10rem;
    }
    .camera-man{
        width: 40%;
        align-self: center;
    }
    .animated-text{
        flex-grow: inherit;
    }
}